.board {
    height: 1000px;
}
.div{ 

}
.cards{
    gap: 10px;
    img{
        width: 100px;
        height: 100px;
    }
}
// #cards{
//     width: auto;
//     height: auto;
//     gap: 10px;
// }

.card{

}

